<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-sm" style="width: 300px;">
      <h5 class="card-title text-center mb-3">Admin</h5>
      <div class="card-body">
        <!-- Section 1 -->
        <div class="mt-4">
            <button class="btn btn-primary w-100 mb-2" routerLink="/employee-list">Employee List</button>
          </div>
        <!-- Section 2 -->
        <div class="mt-4">
            <button class="btn btn-primary w-100 mb-2" routerLink="/performance-review">Performance Review</button>
          </div>
          <div class="mt-4">
            <button class="btn btn-primary w-100 mb-2" routerLink="/view-review">Employee's  Review</button>
          </div>
        <!-- Logout Button -->
        <div class="text-center mt-3">
          <button class="btn btn-danger" routerLink="">Logout</button>
        </div>
      </div>
    </div>
  </div>

  





  

  