<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-sm" style="width: 300px;">
      <h5 class="card-title text-center mb-3">Employee</h5>
      <div class="card-body">
        
        <div class="mt-4">
            <button class="btn btn-primary w-100 mb-2" routerLink="/employee-review">My reviews</button>
          </div>
        
        
       
        <div class="text-center mt-3">
          <button class="btn btn-danger" routerLink="">Logout</button>
        </div>
      </div>
    </div>
  </div>
  
